

/* Start:/bitrix/components/bitrix/main.register/templates/.default/style.min.css?1534310124442*/
div.bx-auth-reg input.bx-auth-input{vertical-align:middle}div.bx-auth-reg span.bx-auth-secure{background-color:#fffae3;border:1px solid #dedbc8;padding:2px;display:inline-block;vertical-align:middle}div.bx-auth-reg div.bx-auth-secure-icon{background-image:url(/bitrix/components/bitrix/main.register/templates/.default/images/sec.png);background-repeat:no-repeat;background-position:center;width:19px;height:18px}div.bx-auth-reg div.bx-auth-secure-unlock{background-image:url(/bitrix/components/bitrix/main.register/templates/.default/images/sec-unlocked.png)}
/* End */
/* /bitrix/components/bitrix/main.register/templates/.default/style.min.css?1534310124442 */
