

/* Start:/bitrix/gadgets/bitrix/rssreader/styles.min.css?1534310144516*/
.gdrsstitle{padding-bottom:3px}.gdrsstitle a{text-decoration:none;color:#000;font-size:14px}.gdrssitemdate{font-size:9px;display:none}.gdrssitem{padding-top:5px}.gdrssitemdetail,.gdrssitemdetail a{font-size:11px!important;background-color:#fff}.gdrssitemdetail{padding:10px;border-bottom:1px dotted #000}.gdrssitemtitle{padding-top:5px}.gdrsswaitwindow{background-color:#fff;background-image:url('/bitrix/gadgets/bitrix/rssreader/images/wait.gif');background-position:center center;background-repeat:no-repeat;border:0;height:29px;text-align:center}
/* End */


/* Start:/bitrix/gadgets/bitrix/html_area/styles.min.css?153431014454*/
.gdhtmlareachlink{font-size:10px;text-decoration:none}
/* End */


/* Start:/bitrix/gadgets/bitrix/favorites/styles.min.css?1534310144385*/
.gdfvaddheader{font-weight:bold;padding:5px}.gdfvaddtable{border:1px #ccc solid;padding:7px;margin:5px;width:100%}.gdfvaddleft{padding:3px}.gdfvaddright{padding:3px}.gdfavaddlink{margin-top:20px;font-size:10px}.gdfavaddlink A{text-decoration:none}.gdfavlink{margin:5px;width:100%}.gdfavdellink{float:right;font-size:11px;display:none}.gdfavlinka{float:left}.gdfavoritesform{clear:both}
/* End */


/* Start:/bitrix/gadgets/bitrix/probki/styles.min.css?1534310144235*/
.traf0,.traf1,.traf2,.traf3,.traf4,.traf5{font-size:28px}.traf0{color:#006a35}.traf1{color:#009715}.traf2{color:#aa9500}.traf3{color:#e7ad01}.traf4{color:#e86800}.traf5{color:#e80000}.gdtrafinfo{font-size:10px}.gdtrafic{font-size:10px}
/* End */


/* Start:/bitrix/gadgets/bitrix/weather/styles.min.css?1534310144345*/
.t5,.t4,.t3,.t2,.t1,.t0,.t-0,.t-1,.t-2,.t-3,.t-4,.t-5{font-size:24px}.t5{color:#be0000}.t4{color:#de0000}.t3{color:#ff3a3a}.t2{color:#e78042}.t1{color:#107d18}.t0{color:#107c7d}.t-0{color:#349495}.t-1{color:#0d9dcc}.t-2{color:#0e7da2}.t-3{color:#0e4da2}.t-4{color:#003a88}.t-5{color:#060088}.gdweather,.gdwinfo{font-size:10px;white-space:normal}
/* End */


/* Start:/bitrix/components/bitrix/desktop/templates/.default/style.min.css?15343101162414*/
body.body-popup{margin:10px}div.empty{width:1px;height:1px;overflow:hidden}table.data-table-gadget{width:100%;background-color:white;margin-bottom:10px}.gdparent{border:1px solid #becfd8;position:relative;background-color:white}.gdcorn{position:absolute;left:-1px;top:-1px;width:4px;height:4px;background-image:url(/bitrix/components/bitrix/desktop/templates/.default/images/gadget.gif);overflow:hidden}.gdbcorn{position:absolute;left:-1px;top:-3px;width:4px;height:4px;background-image:url(/bitrix/components/bitrix/desktop/templates/.default/images/gadget.gif);background-position:0 -4px;overflow:hidden}.gdheader{background-color:#d8e3e8;padding:10px;margin:1px;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:14px;font-weight:bold}.gdcontent{padding:10px;zoom:1}a.gdremove,a.gdsettings,a.gdhide,a.gdshow,a.gdshow:hover,a.gdremove:hover,a.gdsettings:hover,a.gdhide:hover{float:right;height:19px;width:19px;margin-left:3px;margin-top:0;overflow:hidden;position:relative;background-image:url(/bitrix/components/bitrix/desktop/templates/.default/images/gadget.gif)}a.gdsettings{background-position:-4px 0}a.gdhide{background-position:-23px 0}a.gdremove{background-position:-42px 0}.gdhided a.gdhide{background-position:-61px 0}a.gdsettings:hover{background-position:-4px -19px}a.gdhide:hover{background-position:-23px -19px}a.gdremove:hover{background-position:-42px -19px}.gdhided a.gdhide:hover{background-position:-61px -19px}.gdnoparams{display:none}.gdhided .gdcontent{display:none}.gdoptions{padding:4px;background-color:#e8e8e8}.gdsettrow{margin:4px}div.bx-gd-buttons{margin-bottom:30px;padding-left:3px}div.bx-gd-button{height:21px;float:left}div.bx-gd-button span{display:block;float:left;height:21px;cursor:pointer}div.bx-gd-button span.bx-gd-text{background-position:left center;background-repeat:no-repeat;padding-left:21px;display:block;text-decoration:none}div.bx-gd-button span.bx-gd-l{background:url(/bitrix/components/bitrix/desktop/templates/.default/images/btn/btn_l.gif);width:2px}div.bx-gd-button span.bx-gd-r{background:url(/bitrix/components/bitrix/desktop/templates/.default/images/btn/btn_r.gif);width:2px}div.bx-gd-button span.bx-gd-c{background:url(/bitrix/components/bitrix/desktop/templates/.default/images/btn/btn_bg.gif);padding:0 11px 0 7px;line-height:20px}div.bx-gd-add span.bx-gd-text{background-image:url(/bitrix/components/bitrix/desktop/templates/.default/images/btn/plus.gif)}div.bx-gd-clear span.bx-gd-text{background-image:url(/bitrix/components/bitrix/desktop/templates/.default/images/btn/del.gif)}div.bx-gd-setdef span.bx-gd-text{background-image:url(/bitrix/components/bitrix/desktop/templates/.default/images/btn/set.gif)}div.bx-gd-setdef,div.bx-gd-clear{float:right;padding-left:10px}div.bx-gd-button a{display:block;color:black;text-decoration:none;font-size:95%}.bx-gadgets-drag{position:absolute;border:1px solid #777;z-index:10000}
/* End */
/* /bitrix/gadgets/bitrix/rssreader/styles.min.css?1534310144516 */
/* /bitrix/gadgets/bitrix/html_area/styles.min.css?153431014454 */
/* /bitrix/gadgets/bitrix/favorites/styles.min.css?1534310144385 */
/* /bitrix/gadgets/bitrix/probki/styles.min.css?1534310144235 */
/* /bitrix/gadgets/bitrix/weather/styles.min.css?1534310144345 */
/* /bitrix/components/bitrix/desktop/templates/.default/style.min.css?15343101162414 */
